/* Adicione estilos conforme necessário para o menu na parte inferior */
.mdl-mini-footer {
    background-color: #333;
    color: white;
    padding: 16px;
}

.mdl-mini-footer__link-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mdl-mini-footer__link-list li {
    display: inline;
    margin-right: 10px;
}

/* Estilos para as informações do deputado */
.deputado-info {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}