body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header-bg {
    background-color: #0056b3; /* tom mais escuro, porém agradável aos olhos */
    color: #fff;
}

.mdl-layout__header-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdl-layout-title {
    font-size: 28px; /* Aumentando o tamanho do título */
    font-weight: bold;
    text-transform: uppercase;
}

.mdl-layout__content {
    padding: 20px;
    text-align: center; /* Centralizando o conteúdo */
}

.site-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.mdl-textfield__label {
    color: #666;
}

.mdl-textfield__input {
    text-align: center; /* Centralizando o dropdown */
}

.mdl-button {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
}

.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 10px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item {
    color: #007bff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item span {
    font-size: 12px;
}

.material-icons {
    font-size: 24px;
}
